*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.contentBox{
    width: 100px;
    height: 100px;
}
footer{
    height: 70px;
    background: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}