*{
    padding: 0px;
    margin: 0px;
}
div{
    margin-right: 5px;
    margin-top: 5px;
    border: 2px solid rgb(5, 224, 184);
    height: 200px;
    width: 200px;
    display: inline-block;
    
}
.image-1{
    position: fixed;

}