*{
    padding :0px;
    margin:0px;
    background: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

#nav-1{
    height: 32px;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 16px;

}
#contentBox{
    height: 700px;
}

.logo-1{
    
    height: 32px;
    width: 32px;
}
.name{
    
    margin-left: 10px;
    font-size: 14px;
    height: 32px;
    width: 503px;
    display: inline-block;
    vertical-align: top;


}
.name-2{
    display: inline ;
}
#logo-2{
    border: 1px solid rgba(210, 197, 197, 0.83);
    border-radius: 5px;
    margin-right: 5px;
}