h1{
    color: dodgerblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{

    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}