h1{
    color: dodgerblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}