*{
  margin: 10px;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

}

.btn-1{
  background-color: rgb(117, 155, 119);
  padding: 10px
}
.btn-2{
  background-color: rgb(44, 31, 142);
  padding: 12px
}