*{
  margin: 10px;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

}

.btn-1{
  background-color: rgb(64, 197, 70);
  padding: 10px
}
.btn-2{
  background-color: rgb(20, 131, 120);
  padding: 12px
}