*{
    padding: 0px;
    margin: 0px;
    color: white;
}

div{
    height: 60px;
    background-color: rgb(13, 12, 12);
    
}
a{
    margin-right: 200px;
    text-decoration: none;

}
button{
    color: #f08804;
    margin-right: 0px;
}
input[type="search"] {
    color: black;  
}


