*{
    background-image: image();
    background-color: black;
}
h1{

    align-content: right;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    background-position-x: 25%;;
    width: 80px;
    height: auto;
    

} 