*{
    text-align: left;
    
}
body{
    background-image: url(01.jpg);
    background-size: cover;
    background-color: black;
}
#logo{

    height: 150px;
    width:250px;
    
}
#language{
    text-align:center;
    font-size: 50px;

}