body{
    background-image: url("01.jpg"); 
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center; 
}

.text{

    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    background-position-x: 25%;;
    width: 80px;
    height: auto;
    

} 
